﻿body 
{
	margin:0px;
	font-family:Arial;
	font-size:13px;
	background-color:#f9fbfd;
}

h1
{
	font-family:Arial;
	font-size:14px;
	margin:0px;
	margin-bottom:2px;
	color:#1e3287;
	font-weight:normal;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

h2
{
	margin:0px;
	margin-bottom:4px;
	font-size:19px;
	color: #173457;
}

td
{
	color: #151a22;
	font-size:12px;
	font-family:Arial;
	text-align: left;
	margin-left: 40px;
}

.dialogButtonsBackground
{
	text-align:right;
	padding:8px;
	background-color: #f3f3f3;
	border-top:solid 1px #ffffff;
}
.dialogContentBackground
{
	padding:8px;
	background-color: #ffffff;
	border-bottom:solid 1px #999ca4;
	height:100%;
}

td.TextBeforeInput
{
	padding-right:7px;
}

.TextDescrioption
{
	text-align:left;
	padding-top:8px;
	padding-bottom:8px;
	display:inline-block;
}

input[type="text"]
{
	margin-top:1px;
	margin-bottom:1px;
}

textarea
{
	font-family:Arial;
	font-size:12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.StartmenuSearchAndRecentItemsBack
{
	border: solid 1px #dfeaf8;
	
}

.StartmenuRecentItemsBack
{
	background-color:White;
	border-left: solid 1px #446687;
	border-top: solid 1px #446687;
	border-right: solid 1px #446687;
	height:100%;
	
}

.StartmenuSearchBack
{
	background-color:#f1f5fb;
	border-left: solid 1px #446687;
	border-bottom: solid 1px #446687;
	border-right: solid 1px #446687;
	padding:9px;
	background-image:url(../images/smvpotsamSearch.gif);
	background-repeat: repeat-x;
}

.StartmenuButtonsBack
{
	padding-left:9px;
	padding-bottom:9px;
}

select.StartmenuSearchType
{
	margin-top:1px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	width:100px;
	border-top:solid 1px #3f4040;
	border-left: solid 1px #5f5f60;
	border-right: solid 1px #858686;
	border-bottom: solid 1px #adadaf;
	background-color:white;
	font-family:Arial;
	color:Black;
	font-weight:bold;
	clip: rect(1px 80px 19px 1px);
	height:20px;
	position:absolute;
	cursor:pointer;
}

input.StartmenuSearch
{
	padding-left:84px;
	border-top:solid 1px #3f4040;
	border-left: solid 1px #5f5f60;
	border-right: solid 1px #858686;
	border-bottom: solid 1px #adadaf;
	background-color:white;
	font-family:Arial;
	color:Gray;
	background-image:url(../images/smvpotsamSearchIcon.gif);
	background-position:right center;
	background-repeat:no-repeat;
	width:240px;
	padding-right:22px;
}

input.StartmenuSearchFocus
{
	padding-left:84px;
	border-top:solid 1px #3f4040;
	border-left: solid 1px #5f5f60;
	border-right: solid 1px #858686;
	border-bottom: solid 1px #adadaf;
	background-color:white;
	font-family:Arial;
	color:black;
	background-image:url(../images/smvpotsamSearchIcon.gif);
	background-position:right center;
	background-repeat:no-repeat;
	width:240px;
	padding-right:22px;
}

.listviewSearchBack
{
	background-color: #e6f0fa;
	background-image:url(../images/listview/searchBackground.gif);
	background-repeat:repeat-x;
	background-position: left bottom;
	color:#191d23;
	border-bottom:solid 1px #ccd9ea;
	border-top:solid 1px #fafcfd;
	padding:6px;
	overflow:visible;
}

.listviewSearchBackText
{
	color:#191d23;
}
.listviewSearchBackInput
{
	color:black;
	background-color:White;
	border:solid 1px #7393ad;
	height:21px;
}
.listviewSearchBackTextBox
{
	color:black;
	background-color:White;
	border:solid 1px #7393ad;
	padding:2px;
}

.listviewSearchBackVirtualDropDown
{
	background-image: url(../images/arrowDown.gif);
	background-repeat:no-repeat;
	background-position: right center;
	color:black;
	
	background-color:White;
	border:solid 1px #7393ad;
	padding:2px;
	
	cursor:pointer;
}


a.StartmenuLogoff
{
	margin-top:10px;
	display:inline-block;
	background-image:url(../images/cmdLogoff.png);
	width:73px;
	color:Black;
	text-decoration:none;	
	vertical-align:bottom;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}

a.StartmenuLogoff:hover
{
	margin-top:10px;
	display:inline-block;
	background-image:url(../images/cmdLogoffHover.png);
	width:73px;
	color:Black;
	text-decoration:none;
	vertical-align:middle;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}

a.StartmenuButton
{
	margin-top:2px;
	display:block;
	width:150px;
	height:40px;
	color:Black;
	text-decoration:none;
	white-space:nowrap;
}

a.StartmenuButton:hover
{
	margin-top:2px;
	display:block;
	background-image:url(../images/startMenuButton.png);
	width:150px;
	height:40px;
	color:Black;
	text-decoration:none;
	white-space:nowrap;
}

a.StartmenuButtonChildren
{
	margin-top:2px;
	display:block;
	background-image:url(../images/startMenuButtonChildren.png);
	width:150px;
	height:40px;
	color:Black;
	text-decoration:none;
	white-space:nowrap;
}

a.StartmenuButtonChildren:hover
{
	margin-top:2px;
	display:block;
	background-image:url(../images/startMenuButtonChildrenHover.png);
	width:150px;
	height:40px;
	color:Black;
	text-decoration:none;
	white-space:nowrap;
}

img.StartmenuButtonImg
{
	margin-top:4px;
	margin-left:3px;
	margin-right:0px;
	margin-bottom:0px;
	height:32px;
	width:32px;
	vertical-align:top;	
	cursor:pointer;
}

span.StartmenuButtonTxt
{
	display:inline-block;
	padding-left:3px;
	width:110px;
	padding-top:12px;
	white-space:nowrap;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

span.StartmenuCurrentUser
{
	position:absolute;
	background-image:url(../images/currentUser.png);
	background-repeat:no-repeat;
	width: 138px;
	height: 28px;
	margin-top: -20px;
	margin-left:6px;
	text-align:center;
}

span.StartmenuCurrentUserText
{
	display:block;
	margin-top:5px;
	overflow:hidden;
	width:130px;
	height:17px;
	text-align:center;
}

span.StartmenuSubMenuFrame
{
	position:absolute;
	padding:2px;
	background-color:White;
	border:solid 1px #464a4f;
	
}












/* CALENDAR */
.calendarMonthNext
{
	background-image:url(../images/calendar/calendarMonthNext.gif);
	background-repeat:no-repeat;
	background-position: center center;
	cursor:pointer;
}
.calendarMonthBack
{
	background-image:url(../images/calendar/calendarMonthBack.gif);
	background-repeat:no-repeat;
	background-position: center center;
	cursor:pointer;
}

.calendarUserHeader
{
	color:#172f50;
	font-size:14px;
	background-image:url(../images/calendar/calendarChosenUserBack.png);
	border-left:solid 1px #576d8b;
	border-bottom:solid 1px #576d8b;
	padding-top:1px;
	padding-bottom:2px;
}
.calendarChosenUser
{
	background-image:url(../images/calendar/calendarChosenUserBack.png);
}
.calendarDayHeader
{
	color:#172f50;
	padding-left:2px;
	padding-right:2px;
	cursor:pointer;
	padding-top:1px;
	padding-bottom:1px;
	border-bottom:solid 1px #576d8b;
}

.calendarDay
{
	color:#172f50;
	padding-left:2px;
	padding-right:2px;
	cursor:pointer;
	padding-top:1px;
	padding-bottom:1px;
}

.calendarDayHover
{
	color:#172f50;
	padding-left:1px;
	padding-right:1px;
	background-color:#e4ecf7;
	border: solid 1px #91a1ba;
	cursor:pointer;
}

.calendarDaySelected
{
	color:#000000;
	background-color:#fbc84f;
	padding-left:1px;
	padding-right:1px;
	border: solid 1px #bb5503;
	cursor:pointer;
}

.calendarDayOutOfMonth
{
	color: #b3b3b3;
	padding-left:2px;
	padding-right:2px;
	cursor:pointer;
	padding-top:1px;
	padding-bottom:1px;
}

.calendarAppointment
{
	cursor:pointer;
	position:relative;
	top:0px;
	display:block;
	z-index:200;
	background-image:url(../images/calendar/appointmentBack.png);
	background-position: left top;
	background-repeat: repeat-x;
	overflow:hidden;
}

.calendarAppointmentSelected
{
	cursor:pointer;
	position:relative;
	top:0px;
	display:block;
	z-index:200;
	background-image:url(../images/calendar/appointmentBack.png);
	background-position: left top;
	background-repeat: repeat-x;
	border:solid 2px black;
	overflow:hidden;
}

.calendarDayBackground
{
	background-image:url(../images/calendar/calendarInWorkingHours.png);
	margin-right:1px;
	
}
.calendarNoDayBackground
{
	background-image:url(../images/calendar/calendarOutOfWorkingHours.png);
	border-left:solid 1px #576d8b;
}

div.calendarHoursFrame
{
	background-color : #d8e3f4;
	background-image:url(../images/calendar/calendarHoursBackground.png);
	background-position: right top;
	background-repeat: no-repeat;
	width:50px;
	height:46px;
	font-size:18px;
	color:#172f50;
	vertical-align:top;
}
span.calendarSubTime
{
	font-size:12px;
	line-height:18px;
	vertical-align:top;
}

/* DESKTOP STEUFF */
img.desktopIconIco
{
	width:32px;
	height:32px;
	display:block;
	margin-left:22px;
	margin-right:22px;
	margin-top:3px;
	margin-bottom:3px;
}
div.desktopIcon
{
	position:absolute;
	width: 76px;
	height:86px;
	overflow:hidden;
	text-align:center;
	
	color:#f2f7fc;
	cursor:pointer;
}
div.desktopIconHover
{
	position:absolute;
	width: 76px;
	height:86px;
	overflow:hidden;
	text-align:center;
	
	background-image:url(../images/desktopItemHover.png);
	
	color:white;
	cursor:pointer;
}
div.desktopIconSelected
{
	position:absolute;
	width: 76px;
	height:86px;
	overflow:hidden;
	text-align:center;
	
	background-image:url(../images/desktopItemSelected.png);
	
	color:#2b4960;
	cursor:pointer;
}

a.nneInlineSearch
{
	display:block;
	background-image:url(../images/nneInlineSearch.png);
	width:24px;
	height:24px;
}
a.nneInlineSearch:hover
{
	display:block;
	background-image:url(../images/nneInlineSearchHover.png);
	width:24px;
	height:24px;
}


/* TREEVIEW */
.navigatorFrame
{
	background-color:#ffffff;
	background-image:url(../images/navigatorFrame.gif);
	height:20px;
	border:solid 1px #6c737c;
}
.navigatorFrameSearch
{
	background-color:#ffffff;
	background-image:url(../images/navigatorFrameSearch.gif);
	background-position: top right;
	height:20px;
	border:solid 1px #6c737c;
}
.navigatorSearch
{
	background-color:transparent;
	border:solid 0px transparent;
	font-size:12px;
	height:16px;
	width:150px;
	margin:0px;
	padding-left:2px;
	padding-right:2px;
}

.navigatorTable
{
	display:inline;
	cursor:pointer;
}
.navigatorLeft
{
	background-color:#ffffff;
	background-image:url(../images/navigatorFrame.gif);
	height:20px;
	padding-left:3px;
}
.navigatorRight
{
	background-color:#ffffff;
	background-image:url(../images/navigatorFrame.gif);
	height:20px;
	padding-right:1px;
}

.navigatorMiddle
{
	background-color:#ffffff;
	background-image:url(../images/navigatorFrame.gif);
	height:20px;

}

.navigatorLeft_h
{
	background-image:url(../images/navigatorHoverBack.gif);
	height:20px;
	padding-left:2px;
	border-left:solid 1px #008ab2;
}
.navigatorRight_h
{
	background-image:url(../images/navigatorHoverBack.gif);
	height:20px;
	border-right:solid 1px #008ab2;
}

.navigatorMiddle_h
{
	background-image:url(../images/navigatorHoverBack.gif);
	height:20px;
	
}


.nodeExpander
{
	cursor:pointer;
}
.nodeL
{
	padding-left:2px;
	height:20px;
	cursor:pointer;
}
.nodeR
{
	height:20px;
	padding-left:1px;
	padding-right:3px;
	cursor:pointer;
}

.nodeL_h
{
	background-image:url(../images/treeviewNodeLHover.gif);
	background-repeat: no-repeat;
	height:20px;
	padding-left:2px;
	cursor:pointer;
}
.nodeR_h
{
	background-image:url(../images/treeviewNodeRHover.gif);
	background-position:top right;
	
	height:20px;
	padding-left:1px;
	padding-right:3px;
	cursor:pointer;
}

.nodeL_s
{
	background-image:url(../images/treeviewNodeLSelected.gif);
	background-repeat: no-repeat;
	height:20px;
	padding-left:2px;
	cursor:pointer;
}
.nodeR_s
{
	background-image:url(../images/treeviewNodeRSelected.gif);
	background-position:top right;
	
	height:20px;
	padding-left:1px;
	padding-right:3px;
	cursor:pointer;
}


.resizeableDialogButtons
{
	border-top:solid 1px #787e85;
	padding:8px;
	background-color:#f0f0f0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

input.resizeableDialogCommandButton
{
	width:80px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}


/* STATISTICS OVERVIEW ITEMS */
.statisticsOverviewListSumRows
{
	font-size:20px;
	background-color: #d8e3f4;
	color: #0d2446;
	border-left: solid 1px #ffffff;
	border-top: solid 1px #ffffff;
	
}
.statisticsOverviewListHeaderItem
{
	padding:4px;
	font-weight:bold;
}
.statisticsOverviewListitem
{
	padding:3px;
	background-color: #f1f5fb;
	border-top:solid 1px #ffffff;
}

.statisticsOverviewListTable
{
	border-top:solid 2px #98a6bb;
	border-bottom:solid 2px #98a6bb;
}

/* DESCRIPTION LINK */
.descriptionLink
{
	border:solid 1px transparent;
	cursor:pointer;
	width:100%;
	height:66px;
}

.descriptionLinkHover
{
	border:solid 1px #7da2ce;
	background-color: #cde2fc;
	cursor:pointer;
	width:100%;
	height:66px;
}

.InlineScroller
{
	overflow:auto;padding:8px;background-color:#ffffff;height:100%;
		-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

/* ATTENTIONS */ 
.attentionMenustructure
{
	background-image: url(../images/attentionBack.jpg);
	background-position: left top;
	background-repeat:repeat-x;
	background-color:White;
}

.attentionInTabs
{
	background-image: url(../images/attentionTabsBack.jpg);
	background-position: left top;
	background-repeat:repeat-x;
	background-color:#fafbfd;
}

.attentionMenustructureHeaderText
{
	color:#2e4457;
	font-size:14px;
	font-weight:bold;
	margin:0px;
}

a.attentionLink
{
	color:#2e4457;
	text-decoration:none;
}
a.attentionLink:hover
{
	color:#000000;
	text-decoration:none;
}


/* DESIGNED FIELD PROPERTIES */
.designerTextbox
{
	border: solid 1px #7192af;
	background-color: #ffffff;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#dde5ec');*/
	font-family:Tahoma;
	font-size:12px;
	width:100%;
	padding-left:2px;
}

.designerTextarea
{
	border: solid 1px #7192af;
	background-color: #f5f7f9;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#dde5ec');*/
	font-family:Tahoma;
	font-size:11px;
	width:100%;
	height:100%;
	padding-left:2px;padding-right:2px;
}

.designerTextboxHover
{
	border: solid 1px #7192af;
	background-color: #ffffff;
	font-family:Tahoma;
	font-size:11px;
	width:100%;
	padding-left:2px;
}

.designerTextareaHover
{
	border: solid 1px #7192af;
	background-color: #ffffff;
	font-family:Tahoma;
	font-size:11px;
	width:100%;
	height:100%;
	padding-left:2px;padding-right:2px;
}


.designerTextboxLocked
{
	border: solid 1px #7192af;
	background-color: #e1e1e1;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f1f1f1', EndColorStr='#d1d1d1');*/
	font-family:Tahoma;
	font-size:11px;
	width:100%;
	padding-left:2px;padding-right:2px;
}

.designerTextareaLocked
{
	border: solid 1px #7192af;
	background-color: #e1e1e1;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f1f1f1', EndColorStr='#d1d1d1');*/
	font-family:Tahoma;
	font-size:11px;
	width:100%;
	height:100%;
	padding-left:2px;padding-right:2px;
}


.textAreaTimeUsage
{
	border: solid 1px #7192af;
	background-color: #ffffff;
	font-family:Tahoma;
	font-size:11px;
}

.exchangeTextbox
{
	border: solid 1px #7192af;
	background-color: #f5f7f9;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#dde5ec');*/
	font-family:Tahoma;
	font-size:11px;
	width:100%;
}

/* SAFE MODE */
.safeMode
{
	color:White;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	display:inline-block;
	position:absolute;
	padding:2px;
}
.safeModeBack
{
	color:Black;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	display:inline-block;
	position:absolute;
	padding-left:3px;
	padding-top:3px;
	padding-right:1px;
	padding-bottom:1px;
}

.windowInlineHeader
{
	background-image:url(../images/inlineHeader.gif);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #567893;
	border-top: solid 1px #344a5c;
	border-left: solid 1px #344a5c;
	border-right: solid 1px #a6c0d5;
	border-bottom: solid 1px #a6c0d5;
	padding:3px;
	color:White;
}


a.nneInlineSearch
{
	display:block;
	background-image:url(../images/nneInlineSearch.png);
	width:24px;
	height:24px;
}
a.nneInlineSearch:hover
{
	display:block;
	background-image:url(../images/nneInlineSearchHover.png);
	width:24px;
	height:24px;
}

/* AUTOCOMPLETE */
.autoCompleteBox
{
	background-color:White;
	border:solid 1px #0d2446;
	padding:2px;
}
a.autoCompleteSelected
{
	color:Black;
	background-image:url(../images/tableRowSelected2.gif);
	display:block;
	padding:2px;
	border:solid 1px #7da2ce;
}
a.autoCompleteSelected:hover
{
	color:Black;
	background-image:url(../images/tableRowSelected2.gif);
	display:block;
	padding:2px;
	border:solid 1px #7da2ce;
}
a.autoComplete
{
	color:Black;
	background-color:White;
	display:block;
	padding:2px;
	border:solid 1px #ffffff;
	
}
a.autoComplete:hover
{
	color:Black;
	background-image:url(../images/tableRowSelected2.gif);
	display:block;
	padding:2px;
	border:solid 1px #7da2ce;
}

.FieldDesignToolbox
{
	border-top: solid 1px #ffffff;
	background-color: #dfe9f5;
	border-right: solid 1px #4a5a6e;
	width:50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	
}

.FieldDesignPropertyHeader
{
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #bac9db;
	background-image:url(../images/designFields/headerBack.gif);
	padding:2px;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.FieldDesignPropertySubHeader
{
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #bac9db;
	padding:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.FieldDesignProperties
{
	background-color: #dfe9f5;
	border-left: solid 1px #4a5a6e;
	width:250px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignPropertyScrollerScroll
{
	overflow:auto;
	height:50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignPropertyText
{
	border-right:solid 1px #bac9db;
	border-bottom:solid 1px #bac9db;
	background-color:White;
	padding-left:2px;
	width:50%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}
.FieldDesignPropertyValue
{
	border-left:none;
	border-top:none;
	border-right:solid 1px #bac9db;
	border-bottom:solid 1px #bac9db;
	background-color:White;
	width:50%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignPropertyValueFX
{
	border:none;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}
.FieldDesignPropertyValueFXSelect
{
	border:solid 1px white;
	font-size:12px;
	height:18px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}


.FieldDesignPropertyValueFXTextarea
{
	border:none;
	width:100%;
	height:18px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	overflow:hidden;
}

.FieldDesignOuterCanvas
{
	background-color:#ffffff;
	border:solid 1px #4a5a6e;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.FieldDesignInnerCanvas
{
	border-bottom:solid 1px #bac9db;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	background-image:url(../images/designFields/outOfCanvas.gif);
}

.FieldDesignCanvasScroll
{
	overflow:auto;padding:4px;
	border-top: solid 1px #4a5a6e;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	position:absolute;
	
}

.FieldDesignCanvas1
{
	background-color:White;
	border-right:solid 1px #bac9db;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	position:absolute;
	overflow:hidden;
}

.FieldDesignCanvas4
{
	background-color:White;
	background-image:url(../images/designFields/canvasBack4.gif);
	border-right:solid 1px #bac9db;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	position:absolute;
	overflow:hidden;
}

.FieldDesignCanvas8
{
	background-color:White;
	background-image:url(../images/designFields/canvasBack8.gif);
	border-right:solid 1px #bac9db;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	position:absolute;
	overflow:hidden;
}

.FieldDesignCanvas16
{
	background-color:White;
	background-image:url(../images/designFields/canvasBack16.gif);
	border-right:solid 1px #bac9db;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
	position:absolute;
	overflow:hidden;
}

.FieldDesignCanvasHeader
{
	border-bottom: solid 1px #bac9db;
	background-image:url(../images/designFields/canvasHeaderBack.gif);
	padding:6px;
	padding-left: 24px;
	font-size:14px;
	height:28px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	margin:0px;
	cursor:pointer;
}

.FieldDesignCanvasHeaderHidden
{
	border-bottom: solid 1px #bac9db;
	background-image:url(../images/designFields/canvasHeaderBackHidden.gif);
	padding:6px;
	padding-left: 24px;
	font-size:14px;
	height:28px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	margin:0px;
	cursor:pointer;
}

.FieldDesignResizer
{
	position:absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border:solid 1px #4a5a6e;
	width:8px;
	height:8px;
	background-color:#9caec3;
	font-size:1px;
	margin:0px;
	cursor:pointer;
}

.FieldDesignNewControl
{
	position:absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border:dashed 1px black;
	background-image:url(../images/designFields/createControl.png);
}

.FieldDesignControl
{
	position:absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border:dashed 1px black;
	cursor:pointer;
	padding:0px;
}

.FieldRealTimeControl
{
	position:absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	cursor:pointer;
	padding:1px;
}

.FieldDesignLabel
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignTitle
{
	color:#1b4b71;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignHR
{
	background-color: #9abce8;
	width:100%;
	height:1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.FieldDesignVR
{
	background-color: #9abce8;
	width:1px;
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;	
}

.ChatBoxInput
{
	width:100%;
	border:solid 1px #787e85;
}

.chatWhoIsWriting
{
	margin:2px;
	color:Gray;
	font-family:Arial;
	font-size:12px;
}

.chatMessageItemOuter
{
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
.chatMessageItem
{
	margin:8px;
	color:black;
	font-family:Arial;
	font-size:12px;
	list-style-type:square;
	list-style-position:inside;
}

